body{
  background-color: $bg-3;
}

.index{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5625rem 1fr 12.5rem;
}

.productos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5625rem 1fr 12.5rem;
}

.nosotros{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5625rem 1fr 12.5rem;
}

.galeria{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5625rem 1fr 12.5rem;
}

.contacto{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5625rem 1fr 12.5rem;
}

.carrito{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5625rem 1fr 12.5rem;
}
